@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Playfair+Display:wght@700&display=swap');


* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;


    font-family: 'Manrope', sans-serif;


    background:

        radial-gradient(circle at top right,
            #dff5ff,
            transparent 35%),

        linear-gradient(135deg,
            #ffffff,
            #f5f9ff);


    color: #0b0b0c;


}





.confirmacion {


    width: 90%;

    max-width: 550px;


    background: white;


    padding: 50px 45px;


    border-radius: 35px;


    text-align: center;


    box-shadow:

        0 30px 70px rgba(0, 0, 0, .12);


    animation: entrada .6s ease;


}



@keyframes entrada {


    from {

        opacity: 0;

        transform: translateY(30px);

    }


    to {

        opacity: 1;

        transform: translateY(0);

    }


}






.logo img {


    width: 160px;

    margin-bottom: 25px;


}



.icono {


    width: 75px;

    height: 75px;


    display: flex;

    align-items: center;

    justify-content: center;


    margin: auto;


    border-radius: 50%;


    background: #e7f3ff;


    font-size: 35px;


    margin-bottom: 25px;


}




h1 {


    font-family: 'Playfair Display', serif;


    font-size: 45px;


    margin-bottom: 20px;


}



h1::first-letter {

    color: #0057ff;

}




.mensaje {


    font-size: 18px;


    color: #667085;


    margin-bottom: 25px;


}





.detalle {


    background: #f7faff;


    padding: 25px;


    border-radius: 20px;


    margin-bottom: 35px;


    color: #444;


}



.detalle span {


    display: block;


    margin-top: 15px;


    font-weight: 700;


    color: #0057ff;


}





.btn-primary {


    display: inline-block;


    padding: 16px 40px;


    background: #0b0b0c;


    color: white;


    text-decoration: none;


    border-radius: 50px;


    font-weight: 700;


    transition: .3s;


}




.btn-primary:hover {


    background: #0057ff;


    transform: translateY(-4px);


}