<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Optikale — Confirmación de cita</title>

    <link rel="stylesheet" href="../static/css/style_confirmacion.css">

</head>


<body>


    <div class="confirmacion">


        <div class="logo">

            <img src="../static/img/optikale.png" alt="Optikale">

        </div>



        <div class="icono">

            👓

        </div>




        <h1>

            ¡Gracias {{nombre}}!

        </h1>




        <p class="mensaje">

            Tu solicitud de cita fue enviada correctamente.

        </p>




        <div class="detalle">


            <p>

                La óptica se comunicará contigo para confirmar tu cita.(revisa tu spam)

            </p>


            <span>

                📩 {{gmail}}

            </span>


        </div>

        <a href="/" class="btn-primary">

            Volver al inicio

        </a>

    </div>
</body>

</html>