<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Optikale — Confirmación de cita</title>

    <link rel="stylesheet" href="../static/css/style_confirmacion.css">

</head>


<body>


    <div class="confirmacion">


        <div class="logo">

            <img src="../static/img/optikale.png" alt="Optikale">

        </div>



        <div class="icono">

            👓

        </div>





        <p class="mensaje">

            VUELVE A SELECCIONAR UNA FECHA O HORA

        </p>




        <div class="detalle">


            <p>

                es posible que la fecha o hora que seleccionaste ya este agendada vuelve a intentarlo con una nueva hora
                o una fecha nueva

            </p>




        </div>

        <a href="/" class="btn-primary">

            Volver al inicio

        </a>

    </div>
</body>

</html>